# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build files
node_modules/
dist/
build/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS-specific
*.swp
*.swo
*~
